---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Actionlint

on:
  workflow_dispatch: {}
  pull_request: { paths: [".github/workflows/*.yaml"] }
  push: { paths: [".github/workflows/*.yaml"] }

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup mise
        uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3.5.0
      
      - name: Run actionlint
        run: mise exec -- actionlint
