---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Renovate Config Validator
permissions: { contents: read }

on:
  workflow_dispatch: {}
  push:
    branches: ["main"]
    paths: ["*.json5"]
  pull_request:
    branches: ["main"]
    paths: ["*.json5"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  renovate-config-validator:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup mise
        uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1

      - name: Validate config
        run: mise exec -- renovate-config-validator default.json5
