---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Renovate Config Validator
permissions: { contents: read }

on:
  workflow_dispatch: {}
  push:
    branches: ["main"]
    paths: ["*.json5"]
  pull_request:
    branches: ["main"]
    paths: ["*.json5"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  renovate-config-validator:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1

      - name: Validate config
        run: mise exec -- renovate-config-validator default.json5
